main {
    margin-top: 1em;
    margin-right: 1em;
    border-radius: 2.5em;
    margin-left: 18.75em;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    padding: 2.3em;
}

main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main header .icon.search {
    -webkit-mask: url(../icon/search.svg) no-repeat center;
    mask: url(../icon/search.svg) no-repeat center;
}

main header .form-inline {
    display: flex;
    width: 100%;
}

main header input[type="search"] {
    border: none;
    background: none;
    margin-left: 0.5em;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
    -webkit-appearance: none;
}

main header button {
    display: flex;
    align-items: center;
    background: none;
    border: 2px solid;
    border-color: var(--secondary-color-with-opacity);
    outline: none;
    border-radius: 0.8em;
    padding: .8em 1.2em;
    color: var(--text);
    font-weight: 600;
}

main header button.change-view {
    margin-right: 1.2em;
}

main header button.notification {
    border: none;
}

main header button.menu {
    border: none;
}

main header .change-view .icon {
    margin-right: 0.5em;
}

main header .icon.search {
    -webkit-mask: url(../icon/search.svg) no-repeat center;
    mask: url(../icon/search.svg) no-repeat center;
}

main header section[role="application"] {
    display: flex;
}

main header .icon.layout {
    -webkit-mask: url(../icon/layout.svg) no-repeat center;
    mask: url(../icon/layout.svg) no-repeat center;
}

main header .icon.notification {
    -webkit-mask: url(../icon/bell.svg) no-repeat center;
    mask: url(../icon/bell.svg) no-repeat center;
}

main header .icon.menu {
    -webkit-mask: url(../icon/menu.svg) no-repeat center;
    mask: url(../icon/menu.svg) no-repeat center;
}

main h1 {
    font-size: 3em;
    color: var(--black);
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    /* Tablet (768px) */
    main {
        margin-left: 0;
        border-radius: 0;
        margin: 0;
        padding: 0em;
    }
    main header {
        margin-bottom: 0em;
        padding: 1em;
    }
    main header button.change-view {
        display: none;
    }
    main h1 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    /* Phone (Large)*/
}

@media screen and (max-width: 320px) {
    /* Phone (Small) */
    main header button {
        padding: 0em 1.2em;
    }
    main header {
        padding: 0.5em 0.7em;
    }
}