:root {
    --primary-color:#5B25F5;
    --background-color: #F5F5FD;
    --background-color-hover: #e5e5ec;
}
body {
    margin: 0;
    min-width: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background-color: var(--background-color);
}

.sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 12em;
    background-color: #fff;
    position: fixed;
    height: 100%;
}

.sidebar a {
  display: flex;
  color: var(--primary-color);
  padding: 1em;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}
  .sidebar a:not(.active):hover {
    background-color: var(--background-color-hover);
  }

  .sidebar img {
      margin-right: .5em;
  }

  .sidebar .icon {
    background-color: var(--primary-color);
    width: 2em;
    height: 2em;
  }

  /* Bottombar icons */

  .sidebar .icon.home {
    -webkit-mask: url(../icon/home.svg) no-repeat center;
    mask: url(../icon/home.svg) no-repeat center;
  }  
  .sidebar .icon.statistics {
    -webkit-mask: url(../icon/bar-chart-2.svg) no-repeat center;
    mask: url(../icon/bar-chart-2.svg) no-repeat center;
  }
  .sidebar .icon.mail {
    -webkit-mask: url(../icon/mail.svg) no-repeat center;
    mask: url(../icon/mail.svg) no-repeat center;
  }
  .sidebar .icon.user {
    -webkit-mask: url(../icon/user.svg) no-repeat center;
    mask: url(../icon/user.svg) no-repeat center;
  }
  .sidebar .icon.file {
    -webkit-mask: url(../icon/file.svg) no-repeat center;
    mask: url(../icon/file.svg) no-repeat center;
  }

  @media screen and (max-width: 768px) { /* Tablet */
    .sidebar {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-around;
    }
    .sidebar a {
        float: left;
        font-size: 0.8em;
        padding: 1em 0.5em;
    }
    .sidebar .icon {
        width: 2em;
        height: 2em;
      }
  }
  
  @media screen and (max-width: 500px) { /* Phone: 425px */
    .sidebar {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-around;
    }

    .sidebar span {
        display: none;
    }
  }