:root {
    --primary-color: #5B25F5;
    --secondary-color: #9792c7;
    --secondary-color-with-opacity: #bab4e21f;
    --background-color: #F5F5FD;
    --background-color-hover: #e5e5ec;
    --text: #9792c7;
    --white: #fff;
    --black: #000;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--white);
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    flex: 1;
}

.navbar {
    background-color: #fff;
    height: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
    padding: 1.563em;
    font-weight: 600;
    width: 18.75em;
    box-sizing: border-box;
    justify-content: space-between;
}

.navbar-brand {
    padding: 2.188em 0em 2em 1em;
    text-decoration: none;
    color: var(--secondary-color);
}

.navbar-brand .icon-container {
    width: 2em;
    height: 2em;
    border-radius: 0.8em;
    margin-bottom: .5em;
    padding: 0.5em;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-brand .icon {
    width: 2em;
    height: 2em;
    background-color: #fff;
}

.navbar-brand .icon.hexagon {
    -webkit-mask: url(../icon/hexagon.svg) no-repeat center;
    mask: url(../icon/hexagon.svg) no-repeat center;
}

.navbar-brand .name {
    padding-top: 0.5em;
}

ul.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-nav a {
    display: flex;
    color: var(--secondary-color);
    padding: 1em;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}

.navbar-nav a.active {
    color: var(--primary-color)
}

.navbar-nav a:not(.active):hover {
    background-color: var(--background-color-hover);
}

.navbar-nav .active .icon {
    background-color: var(--primary-color);
    width: 2em;
    height: 2em;
}

.icon {
    background-color: var(--secondary-color);
    width: 2em;
    height: 2em;
}

.navbar-nav img {
    margin-right: .5em;
}


/* Bottombar icons */

.navbar-nav .icon.home {
    -webkit-mask: url(../icon/home.svg) no-repeat center;
    mask: url(../icon/home.svg) no-repeat center;
}

.navbar-nav .icon.statistics {
    -webkit-mask: url(../icon/bar-chart-2.svg) no-repeat center;
    mask: url(../icon/bar-chart-2.svg) no-repeat center;
}

.navbar-nav .icon.mail {
    -webkit-mask: url(../icon/mail.svg) no-repeat center;
    mask: url(../icon/mail.svg) no-repeat center;
}

.navbar-nav .icon.user {
    -webkit-mask: url(../icon/user.svg) no-repeat center;
    mask: url(../icon/user.svg) no-repeat center;
}

.navbar-nav .icon.file {
    -webkit-mask: url(../icon/file.svg) no-repeat center;
    mask: url(../icon/file.svg) no-repeat center;
}

.navbar-footer .image-documents {
    width: 100%;
    margin-bottom: -8em;
    position: relative;
    z-index: 1
}

.navbar-footer .container {
    background-color: var(--background-color);
    margin: .5em;
    padding: 1.688em;
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    border-radius: 1.3em;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
}

.navbar-footer h2 {
    margin-bottom: 0.25em;
    color: var(--black);
}

.navbar-footer span {
    color: var(--text);
    font-size: .8em;
}

.navbar-footer a {
    color: var(--white);
    background-color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    padding: 1em;
    border-radius: 1.3em;
    margin-top: 1em;
}

@media screen and (max-width: 768px) {
    /* Tablet (768px) */
    .navbar {
        bottom: 0;
        width: 100%;
        height: auto;
        padding: 0.1em;
        position: fixed;
        margin: 0;
        border-top: 1px solid var(--background-color);
    }
    .navbar-brand {
        display: none;
    }
    .navbar-nav {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-around;
    }
    .navbar-nav a {
        float: left;
        font-size: 0.8em;
        padding: 1em 0.5em;
    }
    .navbar-nav .icon {
        width: 2em;
        height: 2em;
    }
    .navbar-nav img {
        margin-right: .5em;
    }
    .navbar-footer {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    /* Phone (Large)*/
    .navbar-nav {
        position: relative;
        bottom: 0;
        display: flex;
        justify-content: space-around;
    }
    .navbar-nav a {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    /* Phone (Small) */
    .navbar-nav span {
        display: none;
    }
}